html {
  font-size: 62.5%;
  scrollbar-color: var(--bg-color) transparent;
  scrollbar-width: thin;
  -webkit-scrollbar-track: transparent;
  -webkit-scrollbar-thumb: transparent;
  -webkit-scrollbar-thumb: transparent;
  -webkit-scrollbar-track: transparent;
  -webkit-scrollbar-thumb: transparent;
}

body {
  height: 100%;
  width: 100%;
  font-family: var(--ff-mr);
  font-size: var(--fs-body);
  line-height: normal;
  margin: auto;
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

.container {
  margin: auto;
  width: 100%;
  height: 100%;
  // max-width: var(--max-width-container);
  padding-right: var(--pd-container);
  padding-left: var(--pd-container);
}

.container-fluid {
  margin: auto;
  width: 100%;
  height: 100%;
  // max-width: var(--max-width-page);
  // padding-right: var(--pd-container);
  // padding-left: var(--pd-container);
}

.horizontal-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  section {
    flex-shrink: 0;
    height: 100vh;
  }
}

section,
footer,
div {
  &.--pt {
    padding-top: var(--padding-section);
  }
  &.--pb {
    padding-bottom: var(--padding-section);
  }
  &.--ptb {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
  }
}
